/* @group Base */
.chzn-container {
  font-size: 14px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 1010;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 34px;
  line-height: 35px;
  padding: 0 0 0 8px;
  color: #1e1e1e;
  text-decoration: none;
  background:url(/media/images/select_bg.png) no-repeat 0 -68px;
}
.chzn-container-single .chzn-default {
  color: #1e1e1e;
}
.chzn-container-single .chzn-single span {
  margin-right: 30px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background:url(/media/images/select_bg.png) repeat-x;
  padding-left:7px;
}

.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 30px;
}
.chzn-container-single .chzn-single div b {
  background: url(/media/images/select_bg.png) no-repeat 0 -34px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
  display:none;
}
.chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius   : 0 0 6px 6px;
  border-radius        : 0 0 6px 6px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  box-shadow:0 0 3px #A1A1A2;
}
/* @end */


.wrap .drop-menu li { font-size:13px;}
.wrap .drop-menu li:first-child {border:none;}
.wrap .drop-menu li a {color:#d93474; text-decoration:none;}


/* @group Results */
.chzn-container .chzn-results {border-radius:0 0 6px 6px; background:#FFF; z-index:20;
  max-height: 220px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.left_search .chzn-container .chzn-results {max-height: 157px;}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  margin:0;
  list-style: none;
  font-size:13px; border-top:1px #e2e2e2 solid; padding:6px 17px 6px 15px;
}

.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #08C;
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px; /* This should by dynamic with js */
  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}


.cab-cont .chzn-container {font: 24px 'pf_agora_slab_proregular'; color:#666666;}
.cab-cont .chzn-container-single .chzn-single {height:58px; line-height:58px; background:url(/media/images/select_bg-big.png) no-repeat 0 -116px; padding-left:11px; color:#666666;}
.cab-cont .chzn-container-single .chzn-single span {background:url(/media/images/select_bg-big.png) repeat-x; margin-right:33px;}
.cab-cont .chzn-container-single .chzn-single div b {background:url(/media/images/select_bg-big.png) no-repeat 0 -58px;}
.cab-cont .chzn-container-single .chzn-single div {width:33px;}
.cab-cont .chzn-container .chzn-drop {top:55px !important;}

.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li {
  float: left;
}