
AddDefaultCharset utf-8
DirectoryIndex index.php index.html

#php_value session.gc_maxlifetime 900800
#php_value session.cookie_lifetime 900800

##RewriteRule ^\/?doctor\/?$ /doctor/terapevt [R=301,L]

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  RewriteBase /

  RewriteRule ^\/?spec\/([^\/]+)\/([A-Za-z]+)(\/[^.]+)?\/?$ http://$2.lookmedbook.cyb/doctor/$1/$3 [R=301,L]

  RewriteCond %{HTTP_HOST} ^moskva\.lookmedbook\.cyb [NC]
  RewriteRule ^\/?(.*)$ http://lookmedbook.cyb/$1 [R=301,L]
  
  RewriteCond %{HTTP_HOST} ^www\.lookmedbook\.cyb$ [NC]
  RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^(.*)\.lookmedbook\.cyb$ [NC]
  RewriteRule ^robots\.txt$ robots/robots_%1.txt [L]

  RewriteCond %{HTTP_HOST} ^(.*)\.lookmedbook\.cyb$ [NC]
  RewriteRule ^yandex_([a-zA-Z0-9]+)\.html$ yandex_files/yandex_$1.html [L]

  # no, so we redirect to our front web controller
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
     

RewriteEngine On 
#RewriteCond %{HTTP_HOST} ^[_A-Za-z0-9\-]+\.lookmedbook\.cyb$ [NC]
#RewriteCond %{REQUEST_URI} !^/robots\.txt$ 
#RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.lookmedbook\.cyb$ [NC]
RewriteCond %{REQUEST_URI} !^/booking/test\.xml$
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.lookmedbook\.cyb$ [NC]
RewriteCond %{REQUEST_URI} !^/yandex_5e37f2f3f5a8ea9d\.txt$
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

ErrorDocument 404 /404.html

RewriteCond %{HTTP_HOST} ^80\.108\.77\.130$ [NC] 
RewriteCond %{REQUEST_URI} !^/robots\.txt$ 
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^vm6253\.vps\.agava\.net$ [NC] 
RewriteCond %{REQUEST_URI} !^/robots\.txt$ 
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^80\.108\.77\.130$ [NC]
RewriteCond %{REQUEST_URI} !^/booking/test\.xml$
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^vm6253\.vps\.agava\.net$ [NC]
RewriteCond %{REQUEST_URI} !^/booking/test\.xml$
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^80\.108\.77\.130$ [NC]
RewriteCond %{REQUEST_URI} !^/yandex_5e37f2f3f5a8ea9d\.txt$
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^vm6253\.vps\.agava\.net$ [NC]
RewriteCond %{REQUEST_URI} !^/yandex_5e37f2f3f5a8ea9d\.txt$
RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} ^www\.lookmedbook\.cyb$ [NC]
#RewriteRule ^(.*)$ http://lookmedbook.cyb/$1 [L,R=301]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !\..{1,10}$
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*)$ http://lookmedbook.cyb/$1/ [L,R=301]

AddEncoding gzip .gz
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !Safari
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [QSA,L]

<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{HTTP:Accept-encoding} !gzip [OR]
        RewriteCond %{HTTP_USER_AGENT} Konqueror
        RewriteRule ^(.miniwd)\.(js)$ $1.nogzip.$2 [QSA,L]
	 RewriteRule ^(.popups)\.(js)$ $1.nogzip.$2 [QSA,L]
        RewriteRule ^(.jquery-1.11.0.min)\.(js)$ $1.nogzip.$2 [QSA,L]
</IfModule>
<IfModule mod_headers.c>
        Header append Vary User-Agent
        <FilesMatch .*miniwd\.(js)$>
               Header set Content-Encoding: gzip
               Header set Cache-control: private
        </FilesMatch>
	 <FilesMatch .*popups\.(js)$>
               Header set Content-Encoding: gzip
               Header set Cache-control: private
        </FilesMatch>
	 <FilesMatch .*jquery-1.11.0.min\.(js)$>
               Header set Content-Encoding: gzip
               Header set Cache-control: private
        </FilesMatch>
        <FilesMatch .*\.nogzip\.(js|css)$>
               Header unset Content-Encoding
        </FilesMatch>
</IfModule>

#<IfModule mod_deflate.c>
#  AddOutputFilterByType DEFLATE application/javascript
#  AddOutputFilterByType DEFLATE text/javascript
#  DeflateCompressionLevel 8
#  <IfModule mod_setenvif.c>
#    BrowserMatch ^Mozilla/4 gzip-only-text/html
#    BrowserMatch ^Mozilla/4\.0[678] no-gzip
#    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
#  </IfModule>
#</IfModule>

#AddType text/x-component .htc



  php_flag display_startup_errors on
    php_flag display_errors on
    php_value error_reporting 30719
    #php_value error_reporting -1

