@media (max-width: 1000px){
    html, body{
        width: 100vw;
        min-width: 100vw;
        overflow-x: hidden;
        height: auto;
    }
    #wrapper{
        width: 100vw;
        height: auto;
        margin: 0;
    }
    *{
        box-sizing: border-box;
    }
    #header{
        min-width: 100%;
        background-size: 21px;
        height: 100px;
    }
    .inner-home-main .center{
        width: 100%;
    }
    .caroufredsel_wrapper ul.ul_cards{
        width: 100vw!important;
        height: 884px!important;
        /* margin-left: 25vw!important; */
    }
    .info-card{
        width: 100%;
        height: auto;
        /* padding: 0; */
    }
    .slider-cards .ul_cards > li{
        /* float: none; */
        /* margin: 0 auto; */
        /* width: 470px; */
    }
    .abs.abs4 {
        display: none;
    }

    .abs.abs3 {
        display: none;
    }

    .abs.abs2 {
        display: none;
    }

    .right_owl {
        display: none;
    }

    .left_search {
        width: 100vw;
        margin: 0;
        float: none;
        height: 300px;
    }

    .search-form {
        margin: 0 auto!important;
        float: none!important;
        width: 100%;
    }

    a.logo {
        display: none;
    }

    .slider-cards {
        min-width: 100%!important;
    }

    .center {
        min-width: 100%!important;
    }

    div#footer {
        min-width: 100%!important;
    }

    .search-block.search-block-mainpage.flo {
        margin: 15px 0;
        text-align: center;
    }

    .search-block form {
        display: inline-block;
        width: 80%;
    }

    p.l_txt {
        padding: 10px 40px!important;
    }

    p.h-txt {
        padding: 20px 40px!important;
    }

    .about_dis {
        padding-top: 41px;
    }

    .about_dis .center {
        background: none;
    }


    .content .left_search .search-form .tabs li span {
        height: 40px;
    }

    .learn-txt {
        width: 100%;
        min-height: 100%;
        background-image: none;
        text-align: center;
    }

    .thisiscenter .list-about li {
        width: 100%;
        padding: 0 20px;
    }

    .thisiscenter {
        width: 100%;
    }

    .thisis {
        height: auto;
    }

    .thisiscenter .list-about li img {
        width: 100%;
    }

    .thisiscenter .list-about {
        text-align: center;
    }

    .thisiscenter .list-about li:first-child p {
        padding: 30px;
    }

    .thisiscenter .list-about li p {
        padding: 30px;
    }

    .thisiscenter .h-txt, .thisiscenter h1 {
        padding: 10px;
    }

    .inner-home-main {
        padding-top: 0px;
        height: 400px;
    }

    .thisiscenter .h-txt-blue span {
        padding-right: 0;
        padding-bottom: 10px;
    }

    .specialties-groups-wrapper .specialties-groups {
        max-width: 100%;
        min-width: 100%;
        padding: 20px;
        margin-bottom: 75px;
    }

    .specialties-groups .specialty-group, .specializationDiseasesArea .sdaDiseaseBlock {
        width: 100%;
    }

    .footer {
        width: 100vw;
    }

    .footer .inner {
        width: 100%;
    }

    .sp-links.left-links {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .sp-links.right-links {
        width: 100%;
        min-width: 100%;
        margin-left: 0;
        color: #373737;
        padding-top: 45px;
        display: inline-block;
        float: left;
        height: 60px;
    }
    .sp-links.right-links a, .sp-links.right-links span{
        color: #373737;
    }

    .learn-txt a {
        margin:  0 auto;
    }

    .sp-links {
        position: static;
    }

    #header .sp-links nav a {
        margin: 8px 5px;
    }

    div#authorization-block-on-disease-page {
        width: 100%;
        text-align: center;
        display: block!important;
        float: left;
        clear: both;
        margin: 13px 0;
    }

    .sp-links .btn-enter {
        display: inline-block;
        color: #fff!important;
        /* margin: 0 auto; */
        float: none;
        width: 30%;
    }

    a.a-dashed.popup_city {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 33%;
    }

    span.phone {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 33%;
        float: left;
        padding-top: 0!important;
        /* font-size: 18px!important; */
        color: #000!important;
    }

    .sp-links a.a-dashed {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 33%;
        float: left;
        font-size: 20px;
    }

    .sp-links .phone small, .sp-links .phone .calltime {
        color: #000;
    }

    .sp-links .a-dashed small {
        font-size: 20px;
    }

    .footer-inner-bottom {
        height: 100px;
        background: #202020;
        display: none;
    }

    .footer-inner-top {
        height: 175px;
        background: #4C4C4C;
    }

    .link_bottom {
        width: 100%;
        left: 50%;
        margin-left: -50%;
        text-align: center;
    }

    .footer-inner-top .inner-top-socials {
        width: 100%;
        clear: both;
        margin-top: 35px;
        text-align: center;
    }

    .footer-inner-top .inner-top-socials li {
        float: none;
        display: inline-block;
    }

    .search-block-mainpage input.txt {
        width: 100%!important;
        font-size: 14px;
        padding: 0 10px;
    }

    .specialties-groups, .specializationDiseasesArea {
        width: 100%!important;
    }

    .content .inner-2 {
        width: 100%;
    }

    .doctor-special-links {
        padding: 0 20px;
    }

    .content .search-count-block {
        width: 100%;
    }

    .content .search-count-block .count {
        width: 100%;
    }

    div#doctor-search-form {
        width: 100%;
        height: 363px;
        display: inline-block;
    }

    .content #doctor-search-form.refactor .search-form {
        width: 100%;
    }

    .map-box.refactor {
        display: inline-block;
        width: 100%;
        float: none;
        margin-top: 430px;
    }

    .map-box.refactor #map {
        width: 100%;
    }

    #map .ymaps-map {
        width: 100vw!important;
        max-width: 100vw!important;
    }

    .location-box .section .price-inf {
        width: 100%;
        margin: 10px 0;
    }

    .location-box .section {
        height: auto;
    }

    .info-card .schedule-extended .schedule {
        position: relative;
        margin: 10px 0;
    }

    .item-row.flo {
        display: inline-block;
    }

    .info-card .descr .tooltip {
        height: 56px;
    }

    .info-box > .location-box > .box .box {
        bottom: -60px;
    }

    .doctor-big-card .info-box {
        width: 90%;
        margin-top: 20px;
    }

    span.resize {
        width: 110px;
    }

    .top_number.refactor {
        width: 100%;
        padding-left: 0;
    }

    .top_number .number_right {
        float: left;
        width: 100%;
        text-align: center!important;
    }

    .header .quick-search {
        margin-top: 15px;
        width: 90%;
    }

    .header .quick-search .quick-search-input {
        width: 99%;
        margin-right: -37px;
        border-radius: 7px;
    }

    .header .quick-search .quick-search-submit {
        position: relative;
        background-color: #fff;
        padding: 2px;
    }

    .header #authorization-block-on-disease-page {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .sp-links .btn-enter, .header .btn-reg {
        display: inline-block;
        float: none;
    }

    .header .btn-enter {
        float: left;
    }

    .header .inner nav {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    table.nav-table {
        width: 100%;
        height: 70px;
        /* line-height: 70px; */
    }

    table.nav-table td {
        display: inline-block;
    }

    header.header {
        background-size: 21px;
    }

    .header .quick-search .fields {margin-left: 20px;}

    .content .left_search .search-form .choose-section-2 {
        float: none;
        width: 100%;
        text-align: center;
    }

    .search-form-main-page-container .search-form .search-by-name, #clinic-license-form .uploadify {
        width: 100%!important;
    }

    .top_number {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .header .inner {
        height: auto;
    }

    .search-form {
        /* width: 100%!important; */
        display: inline-block;
    }

    div#clinic-search-form {
        display: inline-block;
        width: 100%;
        height: 370px;
    }

    a.btn-appoint {
        /* float: none!important; */
        width: 100%!important;
        /* margin: 10px 0; */
        margin-right: 0px!important;
        background-size: 100%!important;
        padding: 0 20px;
    }

    .content #clinic-search-form .search-form {margin: 0 auto!important;display: block;width: 100%!important;/* padding: 0 20px; */}

    .doctor-map-search, .clinic-map-search {
        top: 390px;
        left: 0px;
        width: 100%;
        margin: 0 auto;
    }

    .content .search-count-block.clinic-search {
        width: 100%;
    }

    .content .inner {
        width: 100%;
    }

    .search-block {
        margin: 0;
        width: 100%;
        padding: 0 10px;
    }

    .search-block input.txt {
        width: 100%;
        padding: 0 10px;
    }

    .search-block .btn-1 {
        width: 100%;
        float: none;
        margin-top: 10px;
    }

    .top_number .number_right span {
        padding-left: 0px!important;
    }

    .top_number .number_right span.number_set.refactor {
        padding-left: 26px!important;
        display: inline-block;
    }

    .full-width .inner .col-about-doctor {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .full-width .inner .st-col {
        float: none;
        width: 100%;
        padding: 10px;
    }

    .doctor-landing .doc-info-col {
        width: 100vw!important;
        padding: 10px;
        float: left;
        box-sizing: border-box;
    }

    .doctor-landing {
        width: 100%;
    }

    .doctor-landing .main-cont {
        width: 100vw;
        float: left;
        padding: 10px;
    }

    .doctor-landing .schedule-extended {
        width: 100%;
        margin: 20px 0;
    }

    .map-block {
        width: 100%!important;
        overflow: hidden;
    }

    .doctor-landing .descr {
        width: 100%;
        padding: 0;
    }

    .doctor-landing .connected-carousels {
        width: 100%;
        margin-right: 0px;
        text-align: center;
    }

    .content .left_search .search-form {
        width: 100%;
    }

    .illness-search-submit {
        width: 100%;
        margin: 10px 0;
    }

    .thisiscenter .h-txt .btn-1 {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    .specialty-group ul a span, div.not-main-specialties.specialties-groups .specialty-group ul li a span {line-height: 2em;font-size: 1.3em!important;}

    div#specialties_to_search_clinic_chzn {
        width: 100%!important;
    }

    .footer-inner-top .inner-top-info {
        text-align: center;
    }

    .inner-2.clinic-search-result {
        margin-top: 0;
        padding-top: 0;
    }

    .search-box .btn-search {
        float: left;
        top: 39px;
        left: 50%;
        margin-left: -48px;
        border-radius: 6px;
    }

    .map-box .search-box input.txt, .clinic-map-search input.txt, .doctor-map-search.refactor input.txt {
        width: 100%!important;
        float: left;
        clear: both;
        padding: 0 5px 0 115px;
    }

    .content .top_number .breadcrumbs {
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }

    h1.number_left.refactor {
        width: 100%;
    }

    .flo .map-box.refactor {
        margin-top: 80px;
    }

    .btns.flo {display: inline-block;float: left;/* width: 40%; */margin: 0;width: 100%;}

    .avatar {
        float: left;
        display: inline-block;
    }

    .avatar_buttons {
        width: 100%;
    }

    .info-card .descr .rating {
        display: inline-block;
        float: left;
        clear: both;
        position: relative;
    }

    .fixed_title .name a {
        width: 100%;
        display: inline-block;
        float: left;
        clear: both;
    }

    .info-card .descr .rating .comments-count {
        display: inline-block;
        margin: 0;
    }

    .info-card .descr .tooltip-block {
        position: absolute;
        top: 0;
        left: 97px;
    }

    .info-card .descr .tooltip .corn {
        display: none;
    }

    .doctor-big-card .descr .name > a {
        margin-top: 20px;
    }

    .doctor-landing .connected-carousels .carousel-navigation {
        width: 150px;
        height: 45px;
    }

    .rating {width: 100vw;}

    .slider-cards ul.ul_cards {
        width: 100vw!important;
    }

    .content .inner-3 {
        width: 100%;
        padding: 0 10px;
    }

    .help-page .help-cont {
        width: 100%;
    }

    .sub-menu {
        width: 80%;
        margin: 10px 0;
    }

    h1.help-title {
        margin: 10px;
    }

    .discount {
        display: none;
    }

    .banner-treatment-in-switz-open {
        display: none!important;
    }

    .btn-appoint.refactor-btn-appoint-styles {
        display: inline;
    }

    .btns {
        text-align: center;
        width: 100%;
        display: inline-block;
        height: auto;
    }

    .registration-phone {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .caroufredsel_wrapper {
        width: 100%!important;
    }


    .ymaps-2-1-35-map-bg-ru {
        width: 100%;
    }

    .doctor-landing .connected-carousels .stage {
        margin: 0 auto;
    }

    .doctor-landing .connected-carousels .navigation {
        margin: 0 auto;
        width: 70%;
    }

    .heading-line.doctor-page .button-container {
        width: 100%;
    }

}