/* adaptive switch */

.adaptive-switch-link{display: none;}
@media (max-width: 1024px){
    .adaptive-switch-link{
        display: block;
        width: 100%;
        text-align: center;
        color: #fff!important;
        background: #59bac7;
        font-weight: bold;
        font-family: 'pf_agora_slab_pro_medium';
        padding: 5px 0;
    }
}

@media (max-width: 1000px){
    html, body{
        width: 100vw;
        min-width: 100vw;
        /*overflow-x: hidden;*/
        height: auto;
    }
    #wrapper{
        width: 100vw;
        height: auto;
        margin: 0;
    }
    .wrap{
        overflow: hidden;
    }
    *{
        box-sizing: border-box;
    }
    #header{
        min-width: 100%;
        background-size: 21px;
        height: 100px;
    }
    .inner-home-main .center{
        width: 100%;
    }
    .caroufredsel_wrapper ul.ul_cards{
        width: 100vw!important;
        height: 884px!important;
        /* margin-left: 25vw!important; */
    }
    .info-card{
        width: 100%;
        height: auto;
        /* padding: 0; */
    }
    .slider-cards .ul_cards > li{
         float: none; 
        /* margin: 0 auto; */
        /* width: 470px; */
    }
    .abs.abs4 {
        display: none;
    }

    .abs.abs3 {
        display: none;
    }

    .abs.abs2 {
        display: none;
    }

    .right_owl {
        display: none;
    }

    .left_search {
        width: 100vw;
        margin: 0;
        float: none;
        height: 300px;
    }

    .search-form {
        margin: 0 auto!important;
        float: none!important;
        width: 100%;
    }

    a.logo {
        display: none;
    }

    .slider-cards {
        min-width: 100%!important;
    }

    .center {
        min-width: 100%!important;
    }

    div#footer {
        min-width: 100%!important;
    }

    .search-block.search-block-mainpage.flo {
        margin: 15px 0;
        text-align: center;
    }

    .search-block form {
        display: inline-block;
        width: 80%;
    }

    p.l_txt {
        padding: 10px 40px!important;
    }

    p.h-txt {
        padding: 20px 40px!important;
    }

    .about_dis {
        padding-top: 41px;
    }

    .about_dis .center {
        background: none;
    }


    .content .left_search .search-form .tabs li span {
        height: 40px;
        position: relative;
        z-index: 0;
    }

    .learn-txt {
        width: 100%;
        min-height: 100%;
        background-image: none;
        text-align: center;
    }

    .thisiscenter .list-about li {
        width: 100%;
        padding: 0 20px;
    }

    .thisiscenter {
        width: 100%;
    }

    .thisis {
        height: auto;
    }

    .thisiscenter .list-about li img {
        width: 100%;
    }

    .thisiscenter .list-about {
        text-align: center;
    }

    .thisiscenter .list-about li:first-child p {
        padding: 30px;
    }

    .thisiscenter .list-about li p {
        padding: 30px;
    }

    .thisiscenter .h-txt, .thisiscenter h1 {
        padding: 10px;
    }

    .inner-home-main {
        padding-top: 0px;
        height: 400px;
    }

    .thisiscenter .h-txt-blue span {
        padding-right: 0;
        padding-bottom: 10px;
    }

    .specialties-groups-wrapper .specialties-groups {
        max-width: 100%;
        min-width: 100%;
        padding: 20px;
        margin-bottom: 75px;
    }

    .specialties-groups .specialty-group, .specializationDiseasesArea .sdaDiseaseBlock {
        width: 100%;
    }

    .footer {
        width: 100vw;
    }

    .footer .inner {
        width: 100%;
    }

    .sp-links.left-links {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .sp-links.right-links {
        width: 100%;
        min-width: 100%;
        margin-left: 0;
        color: #373737;
        padding-top: 15px;
        display: inline-block;
        float: left;
        height: 60px;
    }
    .sp-links.right-links a, .sp-links.right-links span{
        color: #373737;
    }

    .learn-txt a {
        margin:  0 auto;
    }

    .sp-links {
        position: static;
    }

    #header .sp-links nav a {
        margin: 8px 5px;
    }

    .banner-treatment-in-switz{display: none;}

    div#authorization-block-on-disease-page {
        width: 100%;
        text-align: center;
        display: block!important;
        float: left;
        clear: both;
        margin: 13px 0;
    }

    .sp-links .btn-enter {
        display: inline-block;
        color: #fff!important;
        /* margin: 0 auto; */
        float: none;
        width: 30%;
    }

    a.a-dashed.popup_city {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 33%;
        height: 26px!important;
        line-height: 26px!important;
    }

    span.phone {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 50%;
        float: left;
        padding-top: 0!important;
        /* font-size: 18px!important; */
        color: #000!important;
    }

    .sp-links a.a-dashed {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 20px;
    }
    a.a-dashed.popup_city{
        height: 26px;
        line-height: 26px;
    }

    .sp-links .phone small, .sp-links .phone .calltime {
        color: #000;
    }

    .sp-links .a-dashed small {
        font-size: 20px;
    }

    .footer-inner-bottom {
        height: 100px;
        background: #202020;
        display: none;
    }

    .footer-inner-top {
        height: 175px;
        background: #4C4C4C;
    }

    .link_bottom {
        width: 100%;
        left: 50%;
        margin-left: -50%;
        text-align: center;
    }

    .footer-inner-top .inner-top-socials {
        width: 100%;
        clear: both;
        margin-top: 35px;
        text-align: center;
    }

    .footer-inner-top .inner-top-socials li {
        float: none;
        display: inline-block;
    }

    .search-block-mainpage input.txt {
        width: 100%!important;
        font-size: 14px;
        padding: 0 10px;
    }

    .specialties-groups, .specializationDiseasesArea {
        width: 100%!important;
        padding: 0 10px;
    }

    .content .inner-2 {
        width: 100%;
    }

    .doctor-special-links {
        padding: 0 20px;
    }

    .content .search-count-block {
        width: 100%;
    }

    .content .search-count-block .count {
        width: 100%;
    }

    div#doctor-search-form {
        width: 100%;
        height: 363px;
        display: inline-block;
    }

    .content #doctor-search-form.refactor .search-form {
        width: 100%;
    }

    .map-box.refactor {
        display: inline-block;
        width: 100%;
        float: none;
        margin-top: 430px;
    }

    .map-box.refactor #map {
        width: 100%;
    }

    #map .ymaps-map {
        width: 100vw!important;
        max-width: 100vw!important;
    }

    .location-box .section .price-inf {
        width: 100%;
        margin: 10px 0;
    }

    .location-box .section {
        height: auto;
    }

    .info-card .schedule-extended .schedule {
        /*position: relative;*/
        margin: 10px 0;
        width: 100%;
    }

    .item-row.flo {
        display: inline-block;
        width: 100%;
    }

    .info-card .descr .tooltip {
        height: 56px;
    }

    .info-box > .location-box > .box .box {
        bottom: -60px;
    }

    .doctor-big-card .info-box {
        width: 90%;
        margin-top: 20px;
    }

    span.resize {
        width: 110px;
    }

    .top_number.refactor {
        width: 100%;
        padding-left: 0;
    }

    .top_number .number_right {
        float: left;
        width: 100%;
        text-align: center!important;
    }

    .header .quick-search {
        margin-top: 15px;
        width: 90%;
    }

    .header .quick-search .quick-search-input {
        width: 99%;
        margin-right: -37px;
        border-radius: 7px;
    }

    .header .quick-search .quick-search-submit {
        position: relative;
        background-color: #fff;
        padding: 2px;
    }

    .header #authorization-block-on-disease-page {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .sp-links .btn-enter, .header .btn-reg {
        display: inline-block;
        float: none;
    }

    .header .btn-enter {
        float: left;
    }

    .header .inner nav {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    table.nav-table {
        width: 100%;
        height: 70px;
        /* line-height: 70px; */
    }

    table.nav-table td {
        display: inline-block;
    }

    header.header {
        background-size: 21px;
    }

    .header .quick-search .fields {margin-left: 20px;}

    .content .left_search .search-form .choose-section-2 {
        float: none;
        width: 100%;
        text-align: center;
    }

    .search-form-main-page-container .search-form .search-by-name, #clinic-license-form .uploadify {
        width: 100%!important;
    }

    .top_number {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .header .inner {
        height: auto;
    }

    .search-form {
        /* width: 100%!important; */
        display: inline-block;
    }

    div#clinic-search-form {
        display: inline-block;
        width: 100%;
        height: 370px;
    }

    a.btn-appoint {
        /* float: none!important; */
        width: 100%!important;
        /* margin: 10px 0; */
        margin-right: 0px!important;
        background-size: 100%!important;
        padding: 0 20px;
    }

    .content #clinic-search-form .search-form {margin: 0 auto!important;display: block;width: 100%!important;/* padding: 0 20px; */}

    .doctor-map-search, .clinic-map-search {
        top: 390px;
        left: 0px;
        width: 100%;
        margin: 0 auto;
    }

    .content .search-count-block.clinic-search {
        width: 100%;
    }

    .content .inner {
        width: 100%;
    }

    .search-block {
        margin: 0!important;
        width: 100%;
        padding: 0 10px;
        text-align: center!important;
    }

    .search-block input.txt {
        width: 100%!important;
        padding: 0 10px;
    }

    .search-block .btn-1 {
        width: 100%;
        float: none;
        margin-top: 10px;
    }

    .top_number .number_right span {
        padding-left: 0px!important;
    }

    .top_number .number_right span.number_set.refactor {
        padding-left: 26px!important;
        display: inline-block;
    }

    .full-width .inner .col-about-doctor {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .full-width .inner .st-col {
        float: none;
        width: 100%;
        padding: 10px;
    }

    .doctor-landing .doc-info-col {
        width: 100vw!important;
        padding: 10px;
        float: left;
        box-sizing: border-box;
    }

    .doctor-landing {
        width: 100%;
    }

    .doctor-landing .main-cont {
        width: 100vw;
        float: left;
        padding: 10px;
    }

    .doctor-landing .schedule-extended {
        width: 100%;
        margin: 20px 0;
    }

    .map-block {
        width: 100%!important;
        overflow: hidden;
    }

    .doctor-landing .descr {
        width: 100%;
        padding: 0;
    }

    .doctor-landing .connected-carousels {
        width: 100%;
        margin-right: 0px;
        text-align: center;
    }

    .content .left_search .search-form {
        width: 100%;
    }

    .illness-search-submit {
        width: 100%;
        margin: 10px 0;
    }

    .thisiscenter .h-txt .btn-1 {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    .specialty-group ul a span, div.not-main-specialties.specialties-groups .specialty-group ul li a span {line-height: 2em;font-size: 1.3em!important;}

    div#specialties_to_search_clinic_chzn {
        width: 100%!important;
    }

    .footer-inner-top .inner-top-info {
        text-align: center;
    }

    .inner-2.clinic-search-result {
        margin-top: 0;
        padding-top: 0;
    }

    .search-box .btn-search {
        float: left;
        top: 39px;
        left: 50%;
        margin-left: -48px;
        border-radius: 6px;
    }

    .map-box .search-box input.txt, .clinic-map-search input.txt, .doctor-map-search.refactor input.txt {
        width: 100%!important;
        float: left;
        clear: both;
        padding: 0 5px 0 115px;
    }

    .content .top_number .breadcrumbs {
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }

    h1.number_left.refactor {
        width: 100%;
    }

    .flo .map-box.refactor {
        margin-top: 80px;
    }

    .btns.flo {
        display: inline-block;
        float: right;
        width: 50%; 
        margin: 0;
        position: relative;
        z-index: 2;
        /*width: 100%;*/
    }
    .doc-popup-sm .appointment-button{
        width: 100%;
    }
    .doc-popup-sm .appointment-button .btns.flo{
        width: 100%;
    }
    .booking.record-to-the-doctor-popup .btns.flo{
        width: 100%;
        float: none;
    }

    .avatar {
        float: left;
        display: inline-block;
    }

    .avatar_buttons {
        width: 100%;
    }

    .info-card .descr .rating {
        display: inline-block;
        float: left;
        clear: both;
        position: relative;
        height: 22px;
        padding-top: 6px;
    }

    .fixed_title .name a {
        width: 100%;
        display: inline-block;
        float: left;
        clear: both;
    }

    .info-card .descr .rating .comments-count {
        display: none;
        margin: 0;
    }

    .info-card .descr .tooltip-block {
        position: absolute;
        top: 0;
        left: 97px;
        display: none;
    }
    .slider-cards .doctor-big-card .schedule-extended{
        width: 100vw;
        height: 67px;
    }
    .inner-2 .doctor-big-card .schedule-extended{
        width: 100vw;
        height: 73px;
    }

    .info-card .descr .tooltip .corn {
        display: none;
    }
    .doctorname_clear{
        width: 100%;
    }

    .doctor-big-card .descr .name > a {
        margin-top: 5px;
    }
    .doctor-big-card .descr .name{
        width: 65%;
        position: absolute;
        right: 5px;
        top: 40px;
    }
    .doctor-big-card .descr .name .post{
        height: auto!important;
    }

    .doctor-landing .connected-carousels .carousel-navigation {
        width: 150px;
        height: 45px;
    }

    .rating {width: 100%;}

    .slider-cards ul.ul_cards {
        width: 100vw!important;
    }

    .content .inner-3 {
        width: 100%;
        padding: 0 10px;
    }

    .help-page .help-cont {
        width: 100%;
    }

    .sub-menu {
        width: 80%;
        margin: 10px 0;
    }

    h1.help-title {
        margin: 10px;
    }

    .discount {
        display: none;
    }

    .banner-treatment-in-switz-open {
        display: none!important;
    }

    .btn-appoint.refactor-btn-appoint-styles {
        display: inline;
    }

    .btns {
        text-align: center;
        width: 100%;
        display: inline-block;
        height: auto;
    }

    .registration-phone {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .slider-cards .div_nav .caroufredsel_wrapper {
        width: 100%!important;
        height: 390px!important;
    }


    .ymaps-2-1-35-map-bg-ru {
        width: 100%;
    }

    .doctor-landing .connected-carousels .stage {
        margin: 0 auto;
    }
    .doctor-landing .caroufredsel_wrapper{
        height: 90px!important;
    }
    .doctor-landing .schedule .day a{
        height: 45px;
    }

    .doctor-landing .connected-carousels .navigation {
        margin: 0 auto;
        width: 70%;
    }

    .heading-line.doctor-page .button-container {
        width: 100%;
    }
    .reg-popup .logo{
        display: none;
    }
    .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened{
        width: 95%!important;
        margin: 0 auto;
        display: block;
        left: 2.5%!important;
        overflow: hidden!important;
    }
    .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-inner{
        width: 100%!important;
    }
    .city-block .not-empty-cities li{
        width: 100%!important;
    }
    .sp-links span.phone+a{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .form-call{
        width: 90%!important;
        right: 5%!important;
    }
    .form-call label{
        clear: both;
    }
    .form-call .btn-call{
        float: none!important;
        margin-right: auto!important;
        margin-left: auto!important;
        clear: both;
    }
    .reg-popup{
        width: 95vw;
        padding: 2.5vw;
        margin: 0;
    }
    .reg-popup .form .txt input{
        width: 100%;
    }
    .reg-popup .btns .chekBox{
        width: 100%;
    }
    .reg-popup .auth-form .btn-1{
        width: 204px;
        margin: 10px auto;
        float: none;
    }
    .reg-popup .center-align{
        padding-bottom: 20px;
    }
    .reg-popup .socials ul li{
        float: left;
        margin-left: 0;
        width: 50%;
        text-align: center;
    }
    .reg-popup .socials ul li a{
        display: inline-block;
    }
    .reg-popup .form .txt{
        width: 100%;
    }
    .city-block{
        width: 100vw;
    }

    .content .left_search .search-form .choose-section-2 .fields{
        width: 100%;
    }
    .content .left_search .search-form .search-by-name{
        margin-top: 0;
        width: 100%;
        height: 38px;
    }
    .content .left_search .search-form .search-by-name .txt{
        width: 100%;
    }
    .content .left_search .search-form .btn-box{
        width: 100%;
    }
    .content .left_search .search-form .btn-box .btn-1{
        margin: 0 auto;
        display: block;
        float: none;
    }
    .left_search .search-form .choose-section.choose-section-free{
        margin: 29px 15px 0px;
    }
    .info-card .descr{
        float: none;
    }
    .caroufredsel_wrapper .avatar_buttons{
        text-align: center;
    }
    .caroufredsel_wrapper .avatar_buttons .avatar{
        /*float: none;*/
    }
    .caroufredsel_wrapper ul.ul_cards>li:not(:first-child){
        display: none;
    }
    .search-form-main-page-container .lmb .pad_tb, .account-search-form-clinic .lmb .pad_tb{
        float: none;
    }
    .booking .step-block-1, .booking .step-block-2{
        width: 100%;
    }
    .booking .progress-bar .steps{
        width: 100%!important;
        float: none;
        text-align: center;
    }
    .booking.record-to-the-doctor-popup .step-block-1 .after_current_bar, .booking.record-to-the-doctor-popup .step-block-2 .after_current_bar{
        margin-left: 0px;
        width: 100%;
    }
    .booking.record-to-the-doctor-popup .step-block-1 .current_bar, .booking.record-to-the-doctor-popup .step-block-2 .current_bar{
        width: 100%;
         margin-left: auto; 
    }
    .booking.record-to-the-doctor-popup .step-block-2 .family_relation_inline li{
	    display: inline-block;
	    margin-left: 0;
	    width: 100%;
	    margin-top: 10px;
    }
    .booking.record-to-the-doctor-popup .step-block-2 .popup-textarea{
    	word-wrap: break-word;
	    resize: none;
	     background: #fff; 
	    height: 100px;
	    overflow: auto;
	    text-overflow: ellipsis;
	    width: 87vw;
	    border: none;
	    color: #666666;
	    font: 18px/27px 'pf_agora_slab_proregular';
	    margin-right: -9px;
	    padding: 7px 0 18px 13px;
	    outline: none;
    }
    .booking.record-to-the-doctor-popup .step-block-2 .form-block .txt input{
	    font: 18px 'pf_agora_slab_proregular';
        width: 87vw;
    }
    .booking .info-box{
        width: 90vw;
        margin: 0;
        margin-left: -4vw;
    }
    .booking .schedule-extended{
        width: 100%;
        margin: 0 auto;
    }
    .booking .all{
        padding: 20px;
    }
    .booking.record-to-the-doctor-popup .visit-target .name{
        width: 100%;
    }
    .booking .location-box .section .price-inf{
        width: 100%;
    }
    .booking .btns .btn-1{
        float: none;
    }
    .about-ilness-content{
        width: 100%;
    }
    .about-ilness-content .main-column{
        width: 100%;
    }
    .about-ilness-content .main-cont .illness-header{
        padding: 20px 10px;
    }
    .illness-nav-wrap .nav{
        display: inline-block;
        width: 100%;
        height: 150px;
    }
    .illness-nav-wrap .nav li.tab-people{
        float: none;
        margin-bottom: 5px;
        padding: 5px;
        line-height: 10px;
        border-radius: 10px;
    }
    .about-ilness-content .illness-nav .sub-nav{
        width: 100%;
    }
    .about-ilness-content .illness-nav.affix{
        width: 100%;
        display: none!important;
    }
    .about-ilness-content .main-cont .content .section{
        padding: 25px;
    }
    .desease-phone{
        font-size: 17px;
        text-align: center!important;
    }
    .actionLink{
        width: 100%;
        border-raDius: 15px;
        text-align:center;
        margin: 10px 0;
    }
    .oneAction{
        width: 100%!important;
        height: auto!important;
        margin: 0!important;
    }
    .oneAction .actionImage img{
        width: 100%;
        height: auto
    }
    .info-card .schedule-extended .day{
        height: 60px;
        padding: 5px 0 0 5px;
        width: 11%;
        margin: 0 1%;
        text-align: center;
    }
    .info-card .schedule-extended .day i{
        margin-bottom: 9px;
    }
    .reg-popup .form .btns{
        width: 100%;
        text-align: center;
    }
    .reg-popup .reg-form .btn-1{
        float: none;
        margin: 10px 0;
    }
    .lmb .a_dashed{
        height: auto;
    }
    .search-form-main-page-container #clinic-search-form .lmb .search_txt{
        width: 100%;
    }
    .doctor-landing .btns.flo{
        width: 100%;
    }
    #our-doctors .btns.flo{
        width: 100%;
    }
    #our-doctors .info-card .schedule-extended .day{
        margin: 5px 0 0 2%;
    }
    #our-doctors .doctor-big-card .descr .name{
        top: 0;
    }
    .top_number .number_right span.number_set{
        background: none;
    }
    .clinic-landing, .clinic-landing .main-box, .clinic-landing .side-box{
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage li{
        max-width: 100%;
    }
    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage{
        width: 100%;
    }
    .clinic-landing .connected-carousels .stage{
        width: 100%;
    }
    .full-width .inner .info-col.col-about{
        width: 100%;
        margin: 0;
    }
    .clinic-landing .btn-find-doctor-2, .clinic-landing  .btn-bookmark-big{
        width: 211px;
        display: inline-block;
        padding-top: 2px;
    }
    #our-doctors .select-area.flo{
        margin-bottom: 27px;
        text-align: center;
    }
    #our-doctors .select-area .sel-box{
        float: none;
        margin-left: 0;
        text-align: left;
        display: inline-block;
    }
    #landing-popup-registration .btns.flo{
        float: none;
    }
    #clinic-description+.inner.flo{
        width: 100%;
        padding: 0 8px;

    }
    .full-width .inner .info-col{
        font-size: inherit;
        margin-right: 60px;
    }
    #doctor-container .location-box .tabs_schedule{
        position: static;
        height: 60px;
    }
    #doctor-container .doctor-big-card .info-box{
        width: 100%;
    }
    #doctor-container .doctor-big-card .schedule-extended{
        width: 100%;
    }
    #doctor-container .info-box > .location-box > .box .box{
        position: static;
    }
    #doctor-container .avatar_buttons .btn-appoint{
        margin-bottom: 15px;
    }
    #doctor-container .info-card.doctor-big-card.flo{
        padding: 12px;
    }

    .record-to-the-doctor-popup .jspPane, .record-to-the-doctor-popup .jspContainer, .record-to-the-doctor-popup .scroll-pane.flo{
        width: 100%!important;
    }
    .record-to-the-doctor-popup .caroufredsel_wrapper{
        width: 100%!important;
    }
    .booking.record-to-the-doctor-popup .schedule-extended + .time-scroll{
        margin-left: 0;
    }
    .booking.record-to-the-doctor-popup .time{
        width: 14%;
        /*text-align: center;*/
        margin: 0px;
    }
    .jspContainer .caroufredsel_wrapper, .booking .jspContainer{
        height: 45px!important;
    }
    .booking.record-to-the-doctor-popup .time li{
        display: inline-block;
        height: auto;
        padding: 8px 0;
        vertical-align: middle;
    }
    .booking .time li{
        width: 90%;
    }
    .booking .shedule-var li .day div.selected, .booking .shedule-var li .day div.clicked, .booking .shedule-var li .day div{
        width: 100%;
        padding: 10px 0;
    }
    .record-to-the-doctor-popup .caroufredsel_wrapper .shedule-var.flo{
        width: 100%!important;
    }
    .booking .shedule-var li{
        width: 13%;
        font-size: .8em;
    }
    #reviews .review-box{
        width: 100%;
    }
    #reviews .review-box .aside{
        width: 100%;
        background: #fff;
    }
    #reviews .review-box .review-cont{
        width: 100%;
        padding: 12px 14px 25px 22px;
        background: #fff;
    }
    .equal-elements .equal-elements-container ul{
        width: 100%;
    }
    .full-map {
        position: fixed;
        width: 100%;
        display: none;
        height: 100vh!important;
        z-index: 9999;
        padding: 0px!important;
    }
    .full-map .bott-panel .shell {
        width: 100%;
        margin: 0 auto;
        padding-top: 28px;
    }
    .full-map .bott-panel .shell {
        text-align: center;
        left: 0;
    }
    .full-map .bott-panel .shell a{
        display: inline-block;
    }
    .clinic-landing .time_clinic .our_time{
        padding: 0;
        text-align: center;
    }
    .about-ilness-content .illness-nav{
        display: none!important;
    }
    .about-ilness-content .illness-nav-wrap{
        display: none;
    }
    .about-ilness-content .side-column{
        width: 100%;
    }
    .clinic-carousel .next{
        margin-left: auto;
        right: 10px;
    }
    .doc-popup-sm.map-card-block>.btns.flo{
        width: 100%;
    }
    .doc-popup-sm.map-card-block>.btns.flo>.btn-bookmark-sm{
        width: 100%;
    }

}