.dd-button{
	width: 100% !important;
	font-size: 15px !important;
}
#our-doctors .clinic-card .btns div {
	display: inline-block;
	float: left;
	width: 50%;
}
.dd-button{
	width: 100% !important;
	font-size: 15px !important;
}
