@media(min-width: 1200px){

	
}

@media(max-width: 1199px){ /* md */
	
	.header {
		background-position: 0 -40px;
	}

	.header .quick-search {
		float: left;
		margin-left: 0;
		position: relative;
		margin-right: 0;
		width: 100%;
		padding-top: 3px;
		padding-bottom: 6px;
	}
	
	.header .quick-search .quick-search-input {
		width: 100%;
	}
}

@media(max-width: 991px ){ /* sm */

	.btn-enter, .btn-reg {
		font-size: 12px;
	}
}

@media(max-width: 767px ){ /* xs */

	
}

@media(max-width: 425px){

	.header nav a.toggle-opener {
		display: inline-block;
	}
	
	.nav-table {
		position: absolute;
		margin: 0;
		height: initial;
		padding: 0;
		overflow: hidden;
		top: 100%;
		left: 0;
		width: 110px;
		background-color: #444;
		padding: 3px;
		border-radius: 0 3px 3px 3px;
		box-shadow: 0 2px 20px -5px;
		/*display: none;*/
	}
	.header nav a {
		width:100%;
	}
	
	.nav-table li {
		display: block;
		width: 100%;
		text-align: center;
	}
}