.chzn-results > li.sub {
	padding-left: 30px;
}
.tree-services {
	font-size: 14px;
	padding-bottom: 40px;
}
.tree-services a {
	display: inline-block;
    padding: 2px 0;
}
.tree-services ul {}
.tree-services ul > li {}
.tree-services ul > li > a {
	color:#000;
}
.tree-services .ts-header > span {
	display: inline-block;
    padding: 3px 10px;
}
.tree-services .ts-header a {
	color: #1F8EBE;
}
.tree-services .ts-header {
	font-weight: bold;
    font-size: 16px;
    position: relative;
	color: #1F8EBE;
	padding: 15px 0 5px;
}
.tree-services .showmore > a {
	display: inline-block;
	padding:5px 0 0;
}
.page-h1 h1 {
	font-size: 22px;
    padding: 25px 0 10px;
}
.simple-page {
	margin-top: 15px;
	padding: 10px 0 5px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #fcfcfc;
	box-shadow: 0 1px 2px #A9A9A9;
	-o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.pricelist > li {
	display: block;
    padding: 7px 15px;
    /* margin: 0 0 5px; */
    position: relative;
	font-size: 14px;
	-o-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.pricelist > li:before {
	content: '';
    display: block;
    border-top: 1px dashed #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-left: 100px solid #fff;
    border-right: 100px solid #fff;
}
.pricelist > li:hover {
	background-color: #fff;
}
.pricelist > li:hover:before{
	opacity: 0.3;
}
.pricelist > li:last-child:before {
	display:none;
}
.pricelist > li > a {
	color: #CD2667;
    text-decoration: none;
	display: inline-block;
    padding: 2px 0;
}
.pricelist > li > a:hover {
	text-decoration: underline;
}
.pricelist > li > span {
	position: absolute;
    right: 15px;
    top: 8px;
}
.view-more {
	margin: 15px 0;
}
.simple-page.collapsed {
	position:relative;
	max-height: 402px;
	overflow:hidden;
}
.simple-page.collapsed:after {
	content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    display: block;
    height: 1px;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 17px 0 50px 42px #fff;
    z-index: 50;
}

.tree-services h3 {
	font-size: 18px;
    padding: 20px 0 10px;
}

.tree-roots {
	overflow: hidden;
	padding: 0 0 40px;
}
.tree-roots > li {
	font-weight: bold;
    font-size: 13px;
    position: relative;
    padding: 3px 0 3px;
}
.tree-roots > li > a {
	color: #1F8EBE!important;
}
.tree-roots > li > span {
	display: inline-block;
    font-size: 12px;
    padding: 0 0 0 5px;
    color: #555;
}
.clinic-list .column {
	margin: 0 0 10px;
}
.clinic-list .item .tsl-text{
	font-size: 12px;
}
.clinic-list .item .address-and-time-area {
	font-size:12px;
	margin-top: 0;
}
.clinic-list .item {
	background-color: #fff;
    overflow: hidden;
    border-radius: 3px;
    padding: 15px 10px 0;
	position: relative;
}
.clinic-list .item .info {
	position: relative;
	padding:0 0 0 100px;
	min-height: 55px;
}
.clinic-list .item .avatar {}
.clinic-list .item .name > a {
	line-height: 1.3;
    color: #1F8EBE;
    font-size: 16px;
    font-family: "pf_agora_sans_probold";
    display: inline-block;
}
.clinic-list .item .name {
	padding-right: 100px;
}
.clinic-list .item .rate {
	display: inline-block;
    position: absolute;
    right: 0;
    top: 2px;
}
.clinic-list .item .tsl-item {
	padding: 0!important;
}
.clinic-list .item .tsl-icon {
	margin: 5px 0 0!important;
}
.clinic-list .item .metro {
	display: inline-block;
    padding-right: 3px;
	padding-top: 2px;
}
.clinic-list .item .metro > span {
	color: #1F8EBE;
    display: inline-block;
    padding-right: 3px;
}

.subclinic-list {
    background-color: #fff;
    padding: 0 10px 10px;
    border-top: 1px solid #eee;
    border-radius: 0 0 5px 5px;
}
.subclinic-list .sub-item {
	position:relative;
	padding: 5px 0;
}
.subclinic-list .sub-item .name {
	padding-right: 100px;
}
.subclinic-list .sub-item .rate{
	position: absolute;
    right: 0;
    top: 9px;
}

.subclinic-list .sub-item .address > i {
	font-size: 14px;
    position: absolute;
    left: -2px;
    top: 0;
    color: #999;
}
.subclinic-list .sub-item .address {
	font-size: 12px;
    color: #444;
    line-height: 15px;
    position: relative;
    padding-left: 17px;
}
.subclinic-list .sub-item .shedule {}
.subclinic-list .sub-item .shedule > .line {
	display:inline-block;
	padding:0 5px 0 0;
}